{% extends "base.html" %}
{% block body %}

  <h2 class="sub-header">Adicionar Pessoa</h2>

<form action="{{ url_for('person.add_person') }}" method="post">
  <div class="form-group">
    <label for="first_name">Nome *</label>
    <input type="text" class="form-control" id="first_name" name="first_name" required>
  </div>
  <div class="form-group">
    <label for="last_name">Apelido *</label>
    <input type="text" class="form-control" id="last_name" name="last_name" required>
  </div>
  <div class="form-group">
    <label for="birthdate">Data de nascimento</label>
    <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="1976-01-30">
  </div>
  <div class="form-group">
  <label>Sexo</label>
  <select class="form-control" name="gender" id="gender">
    <option select value="Feminino">Feminino</option>
    <option value="Masculino">Masculino</option>
    <option value="Outro">Outro</option>
  </select>
  </div>
  <div class="form-group">
    <label for="phone">Telefone</label>
    <input type="text" class="form-control" id="phone" name="phone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="address">Morada</label>
    <textarea class="form-control" id="address" name="address"></textarea>
  </div>
  <div class="form-group">
    <label for="profession">Profissão</label>
    <input type="text" class="form-control" id="profession" name="profession">
  </div>
  <div class="form-group">
    <label>Estado civil</label>
    <select class="form-control" name="marital_status" id="marital_status">
    <option value="Solteiro">Solteiro</option>
    <option value="Casado">Casado</option>
    <option value="Divorciado">Divorciado</option>
    <option value="Viúvo">Viúvo</option>
  </select>
  </div>

  <button type="submit" class="btn btn-success">Guardar</button>
  <a href="{{ url_for('person.list_persons') }}" class="btn btn-default">Cancelar</a>
</form>
{% endblock %}
